# Firebase Project ID (used to initialize admin SDK/auth verifying)
FB_PROJECT_ID=your-firebase-project-id

# Google Cloud Project ID (fallback project ID for Service Account queries)
GCP_PROJECT_ID=your-gcp-project-id
